@import "functions";

// add all z-index declarations here and ONLY use the created variables
$zIndexes: (
  stoerer: 200,
  stickyButtons: 250,
  toTopButton: 260,
  navbar: 300,
  header-nav: 400,
  navClassicDropDownSub: 450,
  browseHappy: 500,
  searchBar: 1050,
  loader: 1500,
);

@each $zIndexName, $value in $zIndexes {
  @include globalVariable {
    --zIndex-#{$zIndexName}: #{$value};
  }
}
