@import "../customer/customer.scss";

.card.classroom-card {
  text-decoration: unset;
  color: $black--color;
  background-color: $white--color;
  transition: all .25s ease;

  :focus {
    transition: all .25s ease;
    color: $white--color;
    background-color: $primary--color-2;
  }

  :hover {
    transition: all .25s ease;
    color: $white--color;
    background-color: $primary--color-2;
  }
}